*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo__container{
	width: 20%;
	height: 100vh;
	background-color: #dcdde1;
	float: left;
}

.logo{
	display: flex;
	padding: 30px 5px 50px 30px;
}
.logo p{
	margin: auto 0;
	font-size: 20px;
	font-weight: bold;
	color: #30336b;
}
.img__logo{
	display: block;
	width: 50px;
	height: 40px;
}

.buttons_logo{
	display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 5px 30%;
}

.buttons_logo a{
	text-decoration: none;
	margin-top: 15px;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 18px;
	color: #30336b;
	transition: .2s;
}

.buttons_logo a:hover{
	color: #22a6b3;
	transition: .2s;
}

.allBalance{
	display: flex;
	flex-direction: column;
	float: right;
	margin-right: 20px;
}

.balance{
	font-size: 48px;
}

.money{
	display: flex;
	justify-content: flex-end;
	width: 155px;
	font-size: 38px;
	float: right;
}

.mainButtons{
	display: inline-block;
	padding-top: 200px;
	width: 600px;
}

.charges{
	display: block;
	margin-right: 10px;
}

.mainButtons button{
	width: 270px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	box-sizing: border-box;
	transition: .2s;
}

.mainButtons button:focus, button:hover{
	color: #22a6b3;
	transition: .2s;
}

.changeAndAdd{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.changeAndAdd .add{
	width: 150px;
	cursor: pointer;
	padding: 10px 25px;
	font-size: 17px;
	border-radius: 9px;
	margin-right: 30px;
	border: none;
	outline: none;
	background: #2980b9;
	color: #fff;
	font-weight: bold;
	border: 1px solid #2980b9;
}

.change{
	margin-left: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}

.ww{
	width: 250px;
	margin-left: 70px;
	margin-top: 30px;
}

.ww span{
	font-size: 20px;
}

.changeAndAdd .add:hover{
	border: 1px solid #2980b9;
	background: #fff;
	color: #2980b9;
}

th{
	display: inline-block;
	margin: 100px 70px 0 100px;
}

.tbl{
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}
